<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> ADICIONAR PRODUTO </h1>
    <form method='POST'> 
        {% csrf_token %}
        <input type="text" name="nome" placeholder="NOME DO PRODUTO"> 
        <input type="text" name="descricao" placeholder="DESCRIÇÂO">
        <input type="float" name="preco" placeholder="PREÇO">
        <input type="int" name="estoque" placeholder="ESTOQUE">
        <button type='submit'> Adicionar </button>
    </form>
    <a href="{% url 'lista_produtos' %}"> Voltar para a lista</a>
</body>
</html>